<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Account Management Page | Dineshonjava.com</title>
    </head>
    <body>
    	<h2> Account Management</h2><br/>
	<table border="1">
		<tr>
			<td>Account Number</td>
			<td>Account Type</td>
			<td>Bank Name</td>
			<td>Branch Code</td>
			<td>Balance</td>
			<td>Customer Id</td>
		</tr>

		<tr th:each="account: ${accounts}">
			<td th:text="${account.accountId}" />
			<td th:text="${account.accountType}" />
			<td th:text="${account.bank}" />
			<td th:text="${account.branchCode}" />
			<td th:text="${account.balance}" />
			<td th:text="${account.customerId}" />
		</tr>
	</table>
    </body>
</html>